.travel {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
}

.planet {
    padding: 0 0;
    margin: 0 0;
    position: absolute;
    z-index: 2;
}

.earth-to-venus {
    left: 1800px;
    top: 1300px;
}

.earth-to-mars {
    left: 2100px;
    top: 1500px;
}

.earth-to-luna {
    left: 1800px;
    top: 1550px;
}

.earth-to-venus1 {
    left: 20px;
}

.earth-to-mars1 {
    left: 160px;
}

.earth-to-luna1 {
    left: 90px;
}

.mercury {
    width: 160px;
    height: 160px;
    display: inline;
    left: 800px;
    top: 1120px;
}

.venus {
    width: 230px;
    height: 230px;
    display: inline;
    left: 1700px;
    top: 1625px;
}

.earth {
    width: 240px;
    height: 240px;
    display: inline;
    left: 2650px;
    top: 1350px;
}

.mars {
    width: 190px;
    height: 190px;
    display: inline;
    left: 3200px;
    top: 600px;
}

.jupiter {
    width: 400px;
    height: 400px;
    display: inline;
    left: 4425px;
    top: 1600px;
}

.saturn {
    width: 475px;
    height: 475px;
    display: inline;
    left: 5235px;
    top: 800px;
}

.uranus {
    width: 375px;
    height: 375px;
    display: inline;
    left: 6030px;
    top: 2100px;
}

.neptune {
    width: 250px;
    height: 250px;
    display: inline;
    left: 7250px;
    top: 1300px;
}

.pluto {
    width: 130px;
    height: 130px;
    display: inline;
    left: 7950px;
    top: 700px;
}