.travel {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
}

.planet {
    padding: 0 0;
    margin: 0 0;
    position: absolute;
    z-index: 2;
    -webkit-animation:spin 123s linear infinite;
}

.planet1 {
font-family: helvetica;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
    position: absolute;
    z-index: 2;
}

.orbit {
    padding: 0 0;
    margin: 0 0;
    position: absolute;
    z-index: 3;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

.earth-to-venus {
    left: 1800px;
    top: 1300px;
}

.earth-to-mars {
    left: 2100px;
    top: 1500px;
}

.earth-to-luna {
    left: 1800px;
    top: 1550px;
}

.earth-to-venus1 {
    left: 20px;
}

.earth-to-mars1 {
    left: 160px;
}

.earth-to-luna1 {
    left: 90px;
}

.mercury {
    width: 160px;
    height: 160px;
    display: inline;
    left: 800px;
    top: 1120px;
}

.venus {
    width: 230px;
    height: 230px;
    display: inline;
    left: 1700px;
    top: 1625px;
}

.earth {
    width: 240px;
    height: 240px;
    display: inline;
    left: 2650px;
    top: 1350px;
}

.mars {
    width: 190px;
    height: 190px;
    display: inline;
    left: 3200px;
    top: 600px;
}

.jupiter {
    width: 400px;
    height: 400px;
    display: inline;
    left: 4425px;
    top: 1600px;
}

.saturn {
    width: 275px;
    height: 275px;
    display: inline;
    left: 5290px;
    top: 800px;
}

.saturn-orbit {
    width: 522px;
    height: 354px;
    display: inline;
    left: 5171px;
    top: 777px;
}

.uranus {
    width: 275px;
    height: 275px;
    display: inline;
    left: 6090px;
    top: 2100px;
}

.uranus-orbit {
    width: 490px;
    height: 256px;
    display: inline;
    left: 5980px;
    top: 2120px;
}


.neptune {
    width: 250px;
    height: 250px;
    display: inline;
    left: 7250px;
    top: 1300px;
}

.pluto {
    width: 130px;
    height: 130px;
    display: inline;
    left: 7950px;
    top: 700px;
}

.mercury1 {
    width: 50px;
    height: 50px;
    display: inline;
    left: 10vw;
    top: 20px;
}
.venus1 {
    width: 50px;
    height: 50px;
    display: inline;
    left: 20vw;
    top: 20px;
}
.earth1 {
    width: 50px;
    height: 50px;
    display: inline;
    left: 30vw;
    top: 20px;
}
.mars1 {
    width: 50px;
    height: 50px;
    display: inline;
    left: 40vw;
    top: 20px;
}
.jupiter1 {
    width: 50px;
    height: 50px;
    display: inline;
    left: 50vw;
    top: 20px;
}
.saturn1 {
    width: 50px;
    height: 50px;
    display: inline;
    left: 60vw;
    top: 20px;
}

.uranus1 {
    width: 50px;
    height: 50px;
    display: inline;
    left: 70vw;
    top: 20px;
}

.neptune1 {
    width: 50px;
    height: 50px;
    display: inline;
    left: 80vw;
    top: 20px;
}

.pluto1 {
    width: 50px;
    height: 50px;
    display: inline;
    left: 90vw;
    top: 20px;
}
