.scrolling-wrapper {


  .card {
    display: inline-block;
  }


}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.background-img {
    background-image: url("../img/universe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position: absolute;

    width: auto;
    height: 100%;
}

.place-on-eye {
    position: absolute;
    color: #fff;
    margin:0;
}
/*--------------------- stayli za žalost*/ 
::-webkit-scrollbar {
        display: none;
      }

@media screen and (max-width: 768px) {      
    #main-img{      
      background-image: url(../img/logo_min.svg);
      width: 86px;
      height: 70px;
    } 
} 
@media screen and (min-width: 768px) {      
    #main-img{      
      background-image: url(../img/logoLandscape_min.svg);
      width: 304px;
      height: 70px;
    } 
}
@media (min-width: 1200px) {
     #main-img{         
         background-image: url(../img/logoFull_min.svg);
         width: 152px;
         height: 120px;
     } 
}
#container .box {
  width:100vw;
  height:100vh;
  display:inline-block;
  position:relative;
}
#container .box > div {
  width:100vw;
  height:100vh;
  font-size:96px;
  color:#FFF;
  position:absolute;
  align-content: center;
  line-height:.7;
  font-weight:bold;
}
#container {
  overflow-y:scroll;
  overflow-x:hidden;
  transform: rotate(270deg) translateX(-100%);
  transform-origin: top left;
  position:absolute;
  width:100vh;
  height:100vw;
}
#container2 {
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  white-space:nowrap;
  font-size:0;

}
/*---------------------*/

/*@media (min-aspect-ratio: 2/1) {
    .asset-1 {
        top: 50%;
        left: 0%;
    }
    .asset-3 {
        top: 30%;
        left: 20%;
    }
    .asset-4 {
        top: 60%;
        left: 35%;
    }
    .asset-5 {
        top: 30%;
        left: 45%;
    }
    .asset-6 {
        top: 50%;
        left: 65%;
    }
    .asset-7 {
        top: 20%;
        left: 80%;
    }
}

@media (max-aspect-ratio: 2/1) {
    .asset-1 {
        top: 50%;
        left: 0%;
    }
    .asset-3 {
        top: 30%;
        left: 20%;
    }
    .asset-4 {
        top: 60%;
        left: 35%;
    }
    .asset-5 {
        top: 30%;
        left: 45%;
    }
    .asset-6 {
        top: 50%;
        left: 65%;
    }
    .asset-7 {
        top: 20%;
        left: 80%;
    }
}*/




.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.enlarge {
    transform-origin:top center;
    transition: transform .4s; /* Animation */
}

.enlarge:hover {

    transform: scale(4, 3.5);
}

body {
    background-image: url("../img/universe.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-position: absolute;

    padding-top: 0;
    margin-top: 0;

    width: auto;
    height: 100%;
}

#scroll {
    width: 5000px;
    height: 100%;
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap
}



.venus-tab {
    width: 100px;
    height: 180px;
    margin-top: 0px;
    padding: 0px 0px;
    margin-left: 345px;
    display: inline;
}

.earth-tab {
    width: 100px;
    height: 180px;
    margin-top: 0px;
    padding: 0px 0px;
    margin-left: 515px;
    display: inline;
}

.luna-tab {
    width: 100px;
    height: 180px;
    margin-top: 0px;
    padding: 0px 0px;
    margin-left: 470px;
    display: inline;
}

.mars-tab {
    width: 100px;
    height: 180px;
    margin-top: 0px;
    padding: 0px 0px;
    margin-left: 420px;
    display: inline;
}




.venus-planet {
    width: 200px;
    height: 200px;
    padding: 100px 100px;
    margin-left: 200px;
    margin-top: 100px;
    display: inline;
}

.earth-planet {
    width: 220px;
    height: 220px;
    padding: 100px 100px;
    margin-left: 200px;
    margin-top: 100px;
    display: inline;
}

.luna-planet {
    width: 100px;
    height: 100px;
    padding: 100px 100px;
    margin-left: 200px;
    margin-top: 100px;
    display: inline;
}

.mars-planet {
    width: 150px;
    height: 150px;
    padding: 100px 100px;
    margin-left: 200px;
    margin-top: 100px;
    display: inline;
}




.planet {
    image-width: 500px;
    color: red;
}

.asset-1 {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 100px;
  display: inline;
}

.asset-3 {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 500px;
  display: inline;
}

.asset-4 {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 900px;
  display: inline;
}

.asset-5 {
  height: 100px;
  width: 100px;
  position: fixed;
  left: 1300px;
  display: inline;
}

.asset-6 {
  height: 100px;
  width: 100px;
  position: fixed;
  left: 1700px;
  display: inline;
}

.asset-7 {
  height: 100px;
  width: 180px;
  position: fixed;
  left: 2100px;
  display: inline;
}
