.ui {
    position: fixed;
    z-index: 3;
}
.helper1 {
    color: white;
    width:350px;
    left:0;
    z-index: 3;
    position: absolute;
    top: 15vh;
    margin-left: 1vw;
    background-color: black;
    border-radius: 15px; 
    transition: transform .5s ease-out;
    display: inline-block;
}
.helper2 {
    color: white;
    width:350px;
    left: 20vw;
    z-index: 3;
    position: absolute;
    top: 15vh;
    margin-left: 1vw;
    background-color: black;
    border-radius: 15px; 
    transition: transform .5s ease-out;
    display: inline-block;
}

.helperDescription {
border-style: solid;
  border-width: 5px;
  border-color: #cccccc;
    padding:10px;
    color: white;
    font-size: 17px;
    width:350px;
    left:5vw;
    z-index: 3;
    position: absolute;
    top: 17vh;
    margin-left: 1vw;
    background-color: #cc5200;
    border-radius: 15px; 
    transition: transform .5s ease-out;
    display: inline-block;
}

.helperStatistics {
border-style: solid;
  border-width: 5px;
  border-color: #cccccc;
    padding: 17px;
    color: white;
    width:350px;
    height:250px;
    z-index: 3;
    font-size: 15px;
    left: 70vw;
    top: 30vh;
    position: absolute;
    margin-right: 1vw;
    background-color: #cc5200;
    border-radius: 15px;
    transition: transform .85s ease-out;
    display: inline-block;
}

.helperVideo {
border-style: solid;
  border-width: 5px;
  border-color: #a6a6a6;
    color: white;
    z-index: 3;
    position: absolute;
    top: 65vh;
    left: 20vw;
    background-color: transparent;
    border-radius: 15px;
    transition: transform .85s ease-out;
    display: inline-block;
}




.helperDescription-in {
    transform: translateX(0vw);
}

.helperDescription-out {
    transform: translateX(-50vw);
}

.helperStatistics-in {
    transform: translateX(0vw);
}

.helperStatistics-out {
    transform: translateX(50vw);
}

.helperVideo-in {
    transform: translateX(0vw);
}

.helperVideo-out {
    transform: translateX(-50vw);
}

.image {
position: relative; width: 100%;

}

h2 {

position: absolute; top: 200px; left: 0; width: 100%;

}

#logo{
    left: 0;
    top: 0;
    position: fixed;
    display: inline-block;
}

#navigation{
 margin-left: 1vw;
 display: inline-block;
}

.wrapTip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.wrapTip .travelTo {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: 50px;
  position: absolute;
  z-index: 1;
}

.wrapTip:hover .travelTo {
  visibility: visible;
}

@media screen and (max-width: 768px) {      
    #logo{      
      background-image: url(../img/logo_min.svg);
      width: 86px;
      height: 70px;
    } 
} 
@media screen and (min-width: 768px) {      
    #logo{      
      background-image: url(../img/logoLandscape_min.svg);
      width: 304px;
      height: 70px;
    } 
}
@media (min-width: 1200px) {
     #logo{         
         background-image: url(../img/logoFull_min.svg);
         width: 152px;
         height: 120px;
     }