.ui {
    position: fixed;
    z-index: 3;
}
.helper1 {
    border-style: solid;
      border-width: 2px;
      border-color: #cccccc;
      border-radius: 250px;
    color: white;
    width:100px;
    height:60px;
    left: 40vw;
    text-size: 30px;
    z-index: 3;
    position: absolute;
    top: 15vh;
    background-color: #cc5200;
    border-radius: 15px; 
    transition: transform .5s ease-out;
    display: inline-block;
    text-align: center;
}
.helper2 {
    border-style: solid;
          border-width: 2px;
          border-color: #cccccc;
          border-radius: 250px;

    color: white;
    width:350px;
    left: 50vw;
    z-index: 3;
    text-size: 20px;
        z-index: 3;
    position: absolute;
    top: 15vh;
    margin-left: 1vw;
    background-color: #cc5200;
    border-radius: 15px; 
    transition: transform .5s ease-out;
    display: inline-block;
}

.helperColorMercury {
    background: linear-gradient(to right, #994d00, #cc6600);
}

.helperColorVenus{
    background: linear-gradient(to right, #bf8040, #cc9966);
}

.helperColorEarth{
    background: linear-gradient(to right, #00b3b3, #00e6e6);
}

.helperColorMars{
    background: linear-gradient(to right, #e63900, #ff531a);
}

.helperColorJupiter{
    background: linear-gradient(to right, #804000, #b35900);
}

.helperColorSaturn{
    background: linear-gradient(to right, #bf8040, #cc9966);
}

.helperColorUranus{
     background: linear-gradient(to right, #333399, #4040bf);
}

.helperColorNeptune{
    background: linear-gradient(to right, #0099e6, #1ab2ff);
}

.helperColorPluto{
    background: linear-gradient(to right, #80d4ff, #99ddff);
}




.helperDescription {
border-style: solid;
  border-width: 5px;
  border-color: #cccccc;
    padding:10px;
    color: white;
    font-size: 17px;
    width:350px;
    left:5vw;
    z-index: 3;
    position: absolute;
    top: 17vh;
    margin-left: 1vw;
    border-radius: 15px; 
    transition: transform .5s ease-out;
    display: inline-block;
}

.helperBorder {
    background: #asdasd;
}

.helperStatistics {
border-style: solid;
  border-width: 5px;
  border-color: #cccccc;
    padding: 17px;
    color: white;
    width:350px;
    height:250px;
    z-index: 3;
    font-size: 15px;
    left: 70vw;
    top: 30vh;
    position: absolute;
    margin-right: 1vw;
    border-radius: 15px;
    transition: transform .85s ease-out;
    display: inline-block;
}

.helperVideo {
border-style: solid;
  border-width: 5px;
  border-color: #a6a6a6;
    color: white;
    z-index: 3;
    position: absolute;
    top: 65vh;
    background-color: transparent;
    border-radius: 15px;
    transition: transform .85s ease-out;
    display: inline-block;
}

.helperNavigation {
    border-style: solid;
    border-width: 5px;
    border-color: #a6a6a6;
    padding:10px;
    color: white;
    width: 97vw;
    height: 9vh;
    z-index: 3;
    position: absolute;
    border-radius: 15px; 
    transition: transform .85s ease-out;
    display: inline-block;
}

.helperNavigation-in {
    transform: translateY(0vw);
}

.helperNavigation-out {
    transform: translateY(-50vw);
}

.helperDescription-in {
    transform: translateX(0vw);
}

.helperDescription-out {
    transform: translateX(-50vw);
}

.helperStatistics-in {
    transform: translateX(0vw);
}

.helperStatistics-out {
    transform: translateX(50vw);
}

.helperVideo-in {
    transform: translateX(0vw);
}

.helperVideo-out {
    transform: translateX(-50vw);
}

.image {
position: relative; width: 100%;

}

h2 {

position: absolute; top: 200px; left: 0; width: 100%;

}

#logo{
    right: 10vw;
    bottom: 5vh;
    position: fixed;
    display: inline-block;
    z-index: 4;
}

#navigation{
 margin-left: 1vw;
 display: inline-block;
}

.wrapTip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.wrapTip .travelTo {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: 50px;
  position: absolute;
  z-index: 1;
}

.wrapTip:hover .travelTo {
  visibility: visible;
}

@media screen and (max-width: 768px) {      
    #logo{      
      background-image: url(../img/logo.svg);
      width: 86px;
      height: 70px;
    } 
} 
@media screen and (min-width: 768px) {      
    #logo{      
      background-image: url(../img/logoLandscape.svg);
      width: 304px;
      height: 70px;
    } 
}
@media (min-width: 1200px) {
     #logo{         
         background-image: url(../img/logoFull.svg);
         width: 152px;
         height: 120px;
     }