.ui {
    position: fixed;
    z-index: 3;
}

.helper {
    margin-top: 340px;
    width: 500px;
    height: 200px;
    z-index: 3;

    transform: translateX(-400px);

    transition: transform .3s ease-out;
    display: inline-block;
}

.helper:hover {
    transform: translateX(0px);
}